/* $Id$ */

/**
 * DrupalChat Integration
 */
#tray-tray #drupalchat_block {
    bottom:0;
    line-height:0;
    position:absolute;
    right:0;
    text-align:center;
}

#tray-tray #drupalchat_bar, #tray-tray #drupalchat_bar_background, #tray-tray #drupalchat_show{
    width:700px !important;
    position:absolute;
    right:0;
}

#tray-tray #drupalchat_bar_background{
    border:none;
    height:26px;
}

#tray-tray #drupalchat_chat_window_online_users{
    position:absolute;
}

#tray-tray #drupalchat_tab_window{
    position:absolute;
    border:1px solid #111111;
    bottom:27px;
}

#tray-tray #drupalchat_chat_window_online_users{    
    border:1px solid #111111;
    bottom:27px;
}

#tray-tray #drupalchat_show{
    width:27px !important;
    border:none;
}

#tray-tray #drupalchat_tab_window #drupalchat_tab_window_body{
    border:none;
}
